<header
  class="flex justify-start items-center gap-6 px-8 py-4 bg-[#ff385c] shadow"
>
  <a
    href="/"
    class="px-4 py-2 rounded-md font-bold text-lg no-underline transition-colors duration-200 <%= currentPage==='index' ? 'bg-white text-[#ff385c] shadow' : 'text-white hover:bg-white hover:text-[#ff385c] hover:shadow' %>"
  >
    airbnb
  </a>
  <% if (isLoggedIn) { %>
  <a
    href="/homes"
    class="px-4 py-2 rounded-md font-bold text-lg no-underline transition-colors duration-200 <%= currentPage==='home' ? 'bg-white text-[#ff385c] shadow' : 'text-white hover:bg-white hover:text-[#ff385c] hover:shadow' %>"
  >
    Homes-List
  </a>

  <a
    href="/favourites"
    class="px-4 py-2 rounded-md font-bold text-lg no-underline transition-colors duration-200 <%= currentPage==='favourites' ? 'bg-white text-[#ff385c] shadow' : 'text-white hover:bg-white hover:text-[#ff385c] hover:shadow' %>"
  >
    favourites
  </a>

  <a
    href="/bookings"
    class="px-4 py-2 rounded-md font-bold text-lg no-underline transition-colors duration-200 <%= currentPage==='booking' ? 'bg-white text-[#ff385c] shadow' : 'text-white hover:bg-white hover:text-[#ff385c] hover:shadow' %>"
  >
    Bookings
  </a>

  <a
    href="/host/host-home-list"
    class="px-4 py-2 rounded-md font-medium no-underline transition-colors duration-200 <%= currentPage==='host-homes' ? 'bg-white text-[#ff385c] shadow' : 'text-white hover:bg-white hover:text-[#ff385c] hover:shadow' %>"
  >
    Host Homes
  </a>

  <a
    href="/host/add-home"
    class="px-4 py-2 rounded-md font-medium no-underline transition-colors duration-200 <%= currentPage==='add-home' ? 'bg-white text-[#ff385c] shadow' : 'text-white hover:bg-white hover:text-[#ff385c] hover:shadow' %>"
  >
    Add Home
  </a>
  <% } %> <% if(!isLoggedIn){ %>
  <a
    href="/signup"
    class="px-4 py-2 rounded-md font-medium no-underline transition-colors duration-200 <%= currentPage==='signup' ? 'bg-white text-[#ff385c] shadow' : 'text-white hover:bg-white hover:text-[#ff385c] hover:shadow' %>"
  >
    SignUp
  </a>
  <a
    href="/login"
    class="px-4 py-2 rounded-md font-medium no-underline transition-colors duration-200 <%= currentPage==='login' ? 'bg-white text-[#ff385c] shadow' : 'text-white hover:bg-white hover:text-[#ff385c] hover:shadow' %>"
  >
    Login
  </a>
  <% } else { %>
  <form action="/logout" method="POST">
    <button
      type="submit"
      class="px-4 py-2 rounded-md font-medium no-underline transition-colors duration-200 <%= currentPage==='login' ? 'bg-white text-[#ff385c] shadow' : 'text-white hover:bg-white hover:text-[#ff385c] hover:shadow' %>"
    >
      Logout
    </button>
  </form>
  <% } %>
</header>
